node_modules
build
dist
storybook-static
.github
.vercel
.prettierignore
.stylelintignore
.eslintignore
.gitignore
deploy

.DS_Store
README.md
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json

public

*.sh
*.md