services:
  ssr:
    image: react-router-fsd-scaffold-ssr:${ENVIRONMENT:-latest}
    build:
      context: ../..
      dockerfile: deployment/ssr/Dockerfile
      args:
        # 배포 환경 (ex: dev, stg, prod)
        ENVIRONMENT: ${ENVIRONMENT}
        # 도메인의 서브 경로 배포용 prefix (ex: /base-name)
        VITE_BASE_NAME: /
    ports:
      - '8080:3000'
    restart: unless-stopped
    container_name: react-router-ssr-${ENVIRONMENT}
