services:
  ssr:
    image: react-router-fsd-scaffold-ssr:${ENVIRONMENT:-latest}
    build:
      context: ../..
      dockerfile: deployment/ssr/Dockerfile
      args:
        ENVIRONMENT: ${ENVIRONMENT}
    ports:
      - "8080:3000"
    restart: unless-stopped
    container_name: react-router-ssr-${ENVIRONMENT}
