services:
  spa:
    image: react-router-fsd-scaffold:${ENVIRONMENT:-latest}
    build:
      context: ../..
      dockerfile: deployment/spa/Dockerfile
      args:
        ENVIRONMENT: ${ENVIRONMENT}
    ports:
      - "8080:80"
    restart: unless-stopped
    container_name: react-router-spa-${ENVIRONMENT}
