name: CI

on:
  pull_request:
    branches:
      - 'main'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command: [build, test, test:e2e, lint]
    steps:
      - name: 레포지토리 클론
        uses: actions/checkout@v5

      - name: Node.js 설치
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: 의존성 설치
        run: pnpm install --frozen-lockfile

      - name: Matrix로 정의된 커맨드 실행
        run: pnpm ${{ matrix.command }}
